<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>教师首页</title>

    <link th:href="@{/static/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet">
    <!--<link th:href="@{/static/css/style.min.css}" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/static/plugins/jquery/3.2.1/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="application/javascript">
        function show_detail(operationId, studentId) {
            var url = ("/teacher/grade/studentGradeDetail?operationId=" + operationId + "&studentId=" + studentId);
            window.location.href = url;
        }

        function download_excel(operationId) {
            var url = ('/teacher/grade/excelDownload?operationId=' + operationId);
            $.ajax({
                url: url
            })
        }
    </script>
</head>
<body>
<div th:replace="comm/teacherHeader::teacherHeader(active=${active},teacher=${session.teacher},courses=${session.courses},course=${session.course})"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:class="(${sideActive} == 'unFinishedOperations') ? 'active' : ''">
                    <a href="/teacher/grade">未完成作业</a>
                </li>
                <li th:class="(${sideActive} == 'finishedOperations') ? 'active' : ''">
                    <a href="/teacher/grade/finishedOperations">已完成作业</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">成绩分析</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <P>最高分</P>
                            <p th:text="${gradeAnalysis.highestScore}"></p>
                        </div>
                        <div class="col-sm-3">
                            <P>最低分</P>
                            <p th:text="${gradeAnalysis.lowestScore}"></p>
                        </div>
                        <div class="col-sm-3">
                            <P>平均分</P>
                            <p th:text="${gradeAnalysis.average}"></p>
                        </div>
                        <div class="col-sm-3">
                            <P>平均分</P>
                            <p th:text="${gradeAnalysis.totalSubmit} + '/' + ${students.size()}"></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">归档</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <button class="btn btn-lg btn-primary"
                                    type="button">
                                <a style="text-decoration: none;color: white"
                                   th:href="@{/teacher/grade/excelDownload(operationId=${operationId})}">
                                    成绩导出Excel表格</a></button>
                        </div>
<!--                        <div class="col-sm-3 col-sm-offset-1">-->
<!--                            <button class="btn btn-lg btn-primary" type="button">下载电子归档</button>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>成绩</th>
                        <th>评阅</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${students}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.studentCode}"></td>
                        <td th:text="${item.grade}"></td>
                        <td>
                            <div th:if="${item.isSubmitOperation} == false" style="color:red">从未提交</div>
                            <button th:if="${item.isSubmitOperation}" type="button" class="btn btn-info"
                                    th:onclick="show_detail([[${operationId}]],[[${item.id}]])">评阅
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
</body>
</html>