<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>教师首页</title>

    <link th:href="@{/static/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet">
    <!--<link th:href="@{/static/css/style.min.css}" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
    <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<script>
    var tale = new $.tale;
    var editor;
    $(function () {
        editor = CKEDITOR.replace('info');
    });

    // 提交表单
    function check_form() {
        var id = $.trim($('#id').val());
        var title = $.trim($('#title').val());
        var level = $.trim($('#level option:selected').val());
        var question_no = $.trim($('#question_id').val());
        var info = editor.document.getBody().getHtml();

        var systemStr = "";
        var token1 = "&%%&";
        var token2 = "!&##&!";
        $("#test_case .jumbotron").each(function () {
            var texts = $(this).find('textarea');
            systemStr += $(texts[0]).val() + token1 + $(texts[1]).val() + token2;
        });
        systemStr = systemStr.substring(0, systemStr.length - token2.length);

        tale.post({
            url: '/teacher/operation/question/doSaveQuestion',
            data: {
                "id": id,
                "title": title,
                "level": level,
                "type": 2,
                "questionNo": question_no,
                "info": info,
                "systemStr": systemStr
            },
            success: function (result) {
                if (result && result.success) {
                    window.location.href = "/teacher/operation/questions";
                    // tale.alertOk("添加成功");
                    // if (!id) {
                    //     $('#form_data')[0].reset();
                    //     editor.setData("");
                    // } else {
                    //     window.location.href = "/teacher/operation/questions";
                    // }
                } else {
                    if (!id) {
                        tale.alertError("添加失败");
                    } else {
                        tale.alertError("修改失败");
                    }

                }
            }
        });
        return false;
    }

    function deleteTestCase(obj) {
        $(obj).parent('div').remove();
        return false;
    }

    function addTestCase() {
        $("#test_case").append("<div class=\"jumbotron\">\n" +
            "                            <button type=\"button\" onclick=\"return deleteTestCase(this)\"\n" +
            "                                    class=\"col-sm-offset-10 btn btn-warning\">删除样例\n" +
            "                            </button>\n" +
            "\n" +
            "                            <div class=\"form-group\">\n" +
            "                                <div class=\"col-sm-9\">\n" +
            "                                    <textarea class=\"form-control\" placeholder=\"输入测试用例\"></textarea>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "\n" +
            "                            <div class=\"form-group\">\n" +
            "                                <div class=\"col-sm-9\">\n" +
            "                                    <textarea class=\"form-control\" placeholder=\"输出测试用例\"></textarea>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>");
    }
</script>

<body>
<div th:replace="comm/teacherHeader::teacherHeader(active=${active},teacher=${session.teacher},courses=${session.courses},course=${session.course})"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:class="(${sideActive} == 'questions') ? 'active' : ''">
                    <a href="/teacher/operation/questions">题目概览</a>
                </li>
                <li th:class="(${sideActive} == 'operations') ? 'active' : ''">
                    <a href="/teacher/operation/operations">作业列表</a>
                </li>
                <li th:class="(${sideActive} == 'addOperation') ? 'active' : ''">
                    <a href="/teacher/operation/addOperation">布置作业</a>
                </li>
                <li th:class="(${sideActive} == 'rubbishOperations') ? 'active' : ''">
                    <a href="/teacher/operation/rubbishOperations">垃圾桶</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="main">
                <form class="form-horizontal" role="form" id="form_data" onsubmit="return check_form()">

                    <div class="form-group">
                        <input type="hidden" id="id" name="id" th:value="${question} ? ${question.id} : ''"/>
                        <label for="title" class="col-sm-3 control-label">标题</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" th:value="${question} ? ${question.title} : ''"
                                   id="title" name="title"
                                   placeholder="标题">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="question_id" class="col-sm-3 control-label">题号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" th:value="${question} ? ${question.questionNo} : ''"
                                   name="questionNo"
                                   value="" id="question_id"
                                   placeholder="题号">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="level" class="col-sm-3 control-label">难度</label>
                        <select class="form-select-button" id="level">
                            <option th:selected="${question} ? ((${question.level} == 1) ? true : false) : false"
                                    value="1">简单
                            </option>
                            <option th:selected="${question} ? ((${question.level} == 2) ? true : false) : false"
                                    value="2">中等
                            </option>
                            <option th:selected="${question} ? ((${question.level} == 3) ? true : false) : false"
                                    value="3">困难
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="info" class="col-sm-3 control-label">题目描述</label>
                        <div class="col-sm-9">
                        <textarea class="info" th:text="${question} ? ${question.info} : ${model}" name="info"
                                  id="info">
                        </textarea>
                        </div>
                    </div>

                    <div id="test_case" th:if="${question} == null">
                        <div class="jumbotron">
                            <button type="button" onclick="return deleteTestCase(this)"
                                    class="col-sm-offset-10 btn btn-warning">删除样例
                            </button>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <textarea class="form-control" placeholder="输入测试用例"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <textarea class="form-control" placeholder="输出测试用例"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="test_case" th:if="${question}">
                        <div class="jumbotron" th:each="item : ${question.answers}">
                            <button type="button" onclick="return deleteTestCase(this)"
                                    class="col-sm-offset-10 btn btn-warning">删除样例
                            </button>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <textarea class="form-control" th:text="${item.systemIn}"
                                              placeholder="输入测试用例"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <textarea class="form-control" th:text="${item.systemOut}"
                                              placeholder="输出测试用例"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button style="display: block" type="button" onclick="addTestCase()"
                            class="col-sm-offset-9 btn btn-primary">增加样例
                    </button>

                    <button type="submit" class="btn btn-primary">
                        提交
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--<script th:src="@{/static/js/holder.min.js}"></script>-->
</body>
</html>