<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>教师首页</title>

    <link th:href="@{/static/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet">
    <!--<link th:href="@{/static/css/style.min.css}" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/static/plugins/jquery/3.2.1/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<script>
    var tale = new $.tale;

    // 编辑表单
    function get_edit_info(operation_id) {
        if (!operation_id) {
            alert('Error！');
            return false;
        }

        tale.post({
            url:'/teacher/grade/checkGrade',
            data:{"id": operation_id},
            success:function (result) {
                if(result && result.success){
                    $("#operation_id").val(result.payload.id);
                    $("#operation_title").val(result.payload.title);
                }else{
                    tale.alertError("服务器错误");
                }
            }
        });

        return false;
    }

</script>

<body>
<div th:replace="comm/teacherHeader::teacherHeader(active=${active},teacher=${session.teacher},courses=${session.courses},course=${session.course})"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:class="(${sideActive} == 'unFinishedOperations') ? 'active' : ''">
                    <a href="/teacher/grade">未完成作业</a>
                </li>
                <li th:class="(${sideActive} == 'finishedOperations') ? 'active' : ''">
                    <a href="/teacher/grade/finishedOperations">已完成作业</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="jumbotron">
                <p>开始批阅后，学生再不可继续答题</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>自动批阅</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${operations}">
                        <td th:text="${item.title}"></td>
                        <td th:text="${item.startTimeStr}"></td>
                        <td th:text="${item.endTimeStr}"></td>
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" th:onclick="return get_edit_info([[${item.id}]])" data-target="#addUserModal">
                                自动批阅</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
</body>
</html>