<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>教师首页</title>

    <link th:href="@{/static/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet">
    <!--<link th:href="@{/static/css/style.min.css}" rel="stylesheet" type="text/css">-->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/static/plugins/jquery/3.2.1/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/base.js}"></script>
    <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<script>
    var tale = new $.tale;

    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }

        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }

    // 提交表单
    function submitQuestion(questionId, uuid) {
        // var checked = new Array();
        // $('input:checkbox:checked').each(function () {
        //     checked.push($(this).val());
        // });
        // if (checked.length == 0) {
        //     tale.alertError("未选择题目");
        //     return false;
        // }
        // var uuid = guid();
        var mydata = {"uuid": uuid, "questionIds": questionId};
        // var jsonChecked = JSON.stringify(checked);
        $.ajax({
            url: '/teacher/operation/submitCheckedQuestions',
            data: JSON.stringify(mydata),
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result && result.success) {
                    // var url = '/teacher/operation/operationNextStep?uuid=' + uuid;
                    // window.location.href = url;
                } else {
                    tale.alertError("数据提交异常");
                }
            }
        });
        return false;
    }

    function check_form(uuid, operationId) {
        var url = '/teacher/operation/operationNextStep?uuid=' + uuid;
        if (operationId) {
            url += ("&operationId=" + operationId);
        }
        window.location.href = url;
        return false;
    }

    function get_edit_info(question_id) {
        if (!question_id) {
            tale.alertError("信息错误");
            return false;
        }
        tale.post({
            url: "/teacher/operation/question/getSingleQuestion",
            data: {id: question_id},
            success: function (result) {
                if (result && result.success) {
                    $('#question_data').html(result.payload.info);
                } else {
                    tale.alertError("请求失败");
                }
            }
        });
        return false;
    }

    function search(uuid) {
        url = "/teacher/operation/addOperation?";
        var sh = $("#search").val();
        url += ("search=" + sh);
        var level = $("#level option:selected").val();
        url += ("&level=" + level);
        var type = $("#type option:selected").val();
        url += ("&type=" + type);
        url += ("&uuid=" + uuid);
        window.location.href = url;
    }

    function addQuestionToOperation(questionId, uuid) {
        submitQuestion(questionId, uuid);
    }

    function pageChange(pageNum, uuid) {
        var url = "/program/pages?";
        url += ("current=" + pageNum);
        var sh = $("#search").val();
        url += ("search=" + sh);
        var level = $("#level option:selected").val();
        url += ("&level=" + level);
        var type = $("#type option:selected").val();
        url += ("&type=" + type);
        url += ("&uuid=" + uuid);
        window.location.href = url;
    }
</script>

<body>
<div th:replace="comm/teacherHeader::teacherHeader(active=${active},teacher=${session.teacher},courses=${session.courses},course=${session.course})"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:class="(${sideActive} == 'questions') ? 'active' : ''">
                    <a href="/teacher/operation/questions">题目概览</a>
                </li>
                <li th:class="(${sideActive} == 'operations') ? 'active' : ''">
                    <a href="/teacher/operation/operations">作业列表</a>
                </li>
                <li th:class="(${sideActive} == 'addOperation') ? 'active' : ''">
                    <a href="/teacher/operation/addOperation">布置作业</a>
                </li>
                <li th:class="(${sideActive} == 'rubbishOperations') ? 'active' : ''">
                    <a href="/teacher/operation/rubbishOperations">垃圾桶</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <input type="text" id="search" th:value="${searchCondition}" style="display: inline-block;width: 300px;"
                       class="form-control" placeholder="输入题号或名称"/>
                <label for="level" style="display: inline;">难度</label>
                <select style="display: inline" class="form-select-button" name="level" id="level">
                    <option value="" th:selected="${level}==null">全部</option>
                    <option value="1" th:selected="${level}==1">简单</option>
                    <option value="2" th:selected="${level}==2">中等</option>
                    <option value="3" th:selected="${level}==3">困难</option>
                </select>
                <label for="type" style="display: inline;">类型</label>
                <select style="display: inline" class="form-select-button" name="type" id="type">
                    <option value="" th:selected="${type}==null">全部</option>
                    <option value="1" th:selected="${type}==1">选择题</option>
                    <option value="2" th:selected="${type}==2">编程题</option>
                </select>
                <button style="display: inline;" class="btn btn-info btn-search" th:onclick="search([[${uuid}]])">查找
                </button>
                <div class="col-sm-offset-2" style="display: inline-block;">
                    <button type="button" style="display: inline;" onclick="addChoiceQuestion()" class="btn btn-info">
                        添加选择题
                    </button>
                    <button type="button" style="display: inline;" onclick="addProgramQuestion()" class="btn btn-info">
                        添加编程题
                    </button>
                </div>
            </div>
            <form role="form" id="form_data" th:onsubmit="return check_form([[${uuid}]],[[${operationId}]])">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>通过率</th>
                        <th>难度</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${questions.getList()}">
                        <td><input type="checkbox" th:checked="${item.checked}"
                                   th:onclick="addQuestionToOperation([[${item.id}]],[[${uuid}]])"
                                   th:value="${item.id}"/></td>
                        <td th:text="${item.questionNo}"></td>
                        <td><span style="color: #428bca;cursor: pointer;" th:text="${item.title}"
                                  data-toggle="modal"
                                  th:onclick="return get_edit_info([[${item.id}]])"
                                  data-target="#addUserModal"></span></td>
                        <td th:text="(${item.type} == 1) ? '选择题' : '编程题'"></td>
                        <td th:text="${item.passRate} + '%'"></td>
                        <td><span
                                th:class="(${item.level} == 1) ? 'label label-info' : ((${item.level} == 2) ? 'label label-warning' : 'label label-danger')"
                                th:text="(${item.level} == 1) ? '简单' : ((${item.level} == 2) ? '中等' : '困难')"></span>
                        </td>
                    </tbody>
                </table>
                <div>
                    <button type="submit" class="btn btn-primary">下一步</button>
                </div>
            </form>
            <div class="pager">
                <ul class="pager">
                    <li th:class="(${questions.getPageNum()} == 1) ? 'previous active' : 'previous'">
                        <a th:if="${questions.getPageNum()} != 1"
                           href="#"
                           th:onclick="pageChange([[${questions.getPageNum() - 1}]],[[${uuid}]])">&larr; Older</a>
                        <span th:if="${questions.getPageNum()} == 1">&larr; Older</span>
                    </li>
                    <li th:each="pageNum : ${pageNums}"
                        th:class="(${questions.getPageNum()} == ${pageNum}) ? 'active' : ''">
                        <a th:if="${questions.getPageNum()} != ${pageNum}"
                           href="#" th:onclick="pageChange([[${questions.getPageNum() - 1}]],[[${uuid}]])"
                           th:text="${pageNum}"></a>
                        <span th:if="${questions.getPageNum()} == ${pageNum}" th:text="${pageNum}"></span>
                    </li>
                    <li th:class="(${questions.getPageNum()} == ${questions.getPages()}) ? 'next active' : 'next'">
                        <a th:if="${questions.getPageNum()} != ${questions.getPages()}"
                           href="#" th:onclick="pageChange([[${questions.getPageNum() - 1}]],[[${uuid}]])">Newer
                            &rarr;</a>
                        <span th:if="${questions.getPageNum()} == ${questions.getPages()}">Newer &rarr;</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 模态框示例（Modal） -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    题目信息
                </h4>
            </div>
            <div class="modal-body">
                <div id="question_data"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <span id="tip"> </span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/holder.min.js}"></script>
</body>
</html>