<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>


    <!-- 输入框组件 -->
    <link th:href="@{/static/plugins/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/style.min.css}" rel="stylesheet" type="text/css">
    <!-- 输入框组件结束 -->

    <meta charset="utf-8"/>
    <title>题目</title>
</head>
<body>
<div class="container">
    <div th:replace="comm/header::pagination(active=${active},user=${session.user})"></div>
    <div class="jumbotron">
        <h1 th:text="${question.title}"></h1>
        <p th:utext="${question.info}"></p>
        <form id="programForm" role="form" onsubmit="return submitForm()">
            <fieldset>
                <legend>编程输入</legend>
                <div class="col-sm-12">
                    <input type="hidden" name="questionId" th:value="${question.id}"/>
                    <textarea class="form-control" id="ds_username" type="text" name="program" rows="8"></textarea>
                </div>
            </fieldset>
            <center>
                <button class="btn btn-lg btn-primary" style="width: 20%;" type="submit">
                    <span>提交</span>
                </button>
            </center>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/plugins/jquery/3.2.1/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/base.js}"></script>
<script type="text/javascript">
    var tale = new $.tale();

    function submitForm() {
        tale.post({
            url: '/program/submit',
            data: $("#programForm").serialize(),
            success: function (result) {
                if (result && result.success) {
                    tale.alertOk(result.msg);
                } else {
                    tale.alertError(result.msg);
                }
            }
        });
        return false;
    }
</script>
</body>
</html>